@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-slate-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply bg-indigo-500 text-white;
}
